*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
    font-family: 'Roboto Slab', serif;
}

 

.container{
    width: 80%;
    margin: 0 auto;
    height: 100%;
}
.authentication{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.login-and-logout{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.avatar{
    width: 2.5rem;
    border-radius: 50%;
}
.avatar img{
    width: 100%;
    border-radius: 50%;
}
.profile{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.profile-avatar{
    width: 8rem;
    border-radius: 50%;
}
.profile-avatar img{
    width: 100%;
    border-radius: 50%;
}
.main-profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 4rem;
    gap: 1rem;
    position: static;
    margin-top: 8rem;
}

.name{
    color: #000;

}
.small{
    color: #888;
    font-size: 0.8rem;
}
/* header{
    background: black;
} */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0 ;  
    color: white;
}
.menu{
    display: none;
}
.menu-content{
    display: none;
}
.navbar ul{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    gap: 2rem;
}
.navbar h3, footer h3{
    letter-spacing: 0.3rem;
}
.navbar li{
    list-style: none;
    color: white;
}
.navbar a{
    color: white;
}
.navbar-block{
    background: #000;  
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1; 
    height: 5rem;
    display: flex;
    align-items: center;
}
.dotted_menu{
    position: relative;
}
.dotted_menu_btn{
    cursor: pointer;
    background: #eee;
    border-radius: 50%;
    padding:0.3rem 0.5rem;
    
}

.dotted_menu_content{
    background: white;
    color: black;
    position: absolute;
    min-width: 6rem;
    right: 0;
    top: 0.5rem;
    display: none;
    padding: 1rem;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.3);
}
.dropbtn{
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 0.5rem;
}
.dropdown-content{
    display: none;
    position: absolute;
    min-width: 15rem;
    padding: 2rem 1rem;
}

.dropdown-content a{
    display: block;
    padding: 12px 1rem;
}

.dropdown-content a:hover{
   font-weight: bold;
}
.categories:hover .dropdown-content{
    background: black;
    display: block;
}
.categories{
    position: relative;
    display: inline-block;
    align-items: center;
}
.categories  img{
    width: 1rem;
    margin-left: 0.5rem;
}
.categories-block{
    position: relative;
    background:black;
    color: white;
    height: 15rem;
    width: 15rem;
    padding: 2rem;
    margin-bottom: -15rem;
    left: 42rem;
    z-index: 1;
    display: none;
}

.block{
    display: block;
    line-height: 2.3;
    position: fixed;
}
/* .home{
    margin-top: 4rem;
} */


 .overlay{
    width: 100%;
    height: 20rem;
    background: rgba(0, 0, 0, 0.5); 
    position: absolute;
    top: 5rem;
} 
.banner-image {
    width: 100%;
    height: 20rem;
    z-index: -1;
    color: white;
    margin-top: 5rem;
    
} 
.banner-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.home{
    width: 100%;
    height: 100%;
}
.profile-block{
    position: relative;
    height: 90vh;

}
.upper-container{
    height: 100%;
}
.upper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;

}

.upper p{
    width: 30rem;
    line-height: 1.8;
    margin-top: 1rem;
}
.btn{
    padding: 0.6rem 1.5rem;
    text-align: center;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0.2rem;
}
.btn-black:active{
    background: #242323;
}
.btn-danger:active{
    background: rgb(223, 38, 75);
}
.btn-black{
    background: black;
}
.btn-danger{
    background: crimson;
}

/* .home-wrapper{
    width: 100%;
    background: url('./banner.jpg') center/cover ;
    height: 10rem;
} */
/* .overlay{
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    width: 100%;
    height: 10rem;
} */

.home-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;
    height: fit-content;
}
.feed-component{
    margin-top: 2rem;
}
.post-container{
    margin-top: 1rem;  
}
#id_photo{
    display: none;
}
#photo-display{
    width: 100%;
    height: 10rem;
    display: none;
}

#photo-display img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.post-container div{
    line-height: 1.8;
}
.pagination{
    display: flex;
    gap: 2rem;
}
.post{
    display: flex;
    /* background: #35C418; */
    color: black;
    margin-bottom: 3rem;
    gap: 1rem;
   align-items: center;
}
.post-image:hover{
    transition: 300ms ease-in-out;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}
.post-image{
width: 100%;
height: 100%
/* image-resolution:2rem;
background-size: cover; */
}
.post-image a{
    display: flex;
    height: 100%;
}
 
.post-image a img{
    width:100%;
    height: 15rem;
    object-fit: cover; 
}

.post-content{
    display: flex;
    width: 100%;
}
.post-content h3{
    text-transform: uppercase;
    font-size: 1.2rem;
}
.post-content .time{
    color: rgb(173, 173, 173);
}
.author {
    display: flex;
    align-items: center;
    gap: 2rem;
}
.post-container h3 a{
    color: black;
    font-weight: bold;
}
.top{
    display: flex;
    gap: 2rem;
    margin-bottom: 0.4rem;
}
.category{
    background: crimson;
    text-transform: uppercase;
    padding: 0.2rem 0.4rem;
    color: white;
    font-weight: bold;
    font-size: 0.6rem;
}
.activity-feed{
    background: #EEE;
    margin-top: 2rem;
    position: relative;
}
.activity-feed-container{
    overflow-y: auto;
    height: 91.5%;
    position: absolute;
    width: 100%;
    padding: 2rem 1rem;
}
.header{
    height: 5rem;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    border-bottom: 1px solid #000;
    margin-bottom: -2rem;
}
.activity-feed::-webkit-scrollbar{
    width: 0;
}
.main-post .post-image{
    width: 100%;
    height: 30rem;
    z-index: -1;
    margin: 0rem auto;
    margin-bottom: 2rem;
    
}
.main-post img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main-post{
    line-height: 1.8;
    margin-top: 5rem;
}
.main-post h2{
    font-size: 2rem;
}
.main-post p{
    width: 100%;
    margin-bottom: 1rem;
    font-size: 1rem;
}

.buttons{
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
}
.post-content-container input{
    width: 100%;
    height: 3rem;
    padding-left: 1rem;
    margin: 2rem 0;
    border-radius: 0.2rem;
}
.comment{
    display: flex;
    margin-bottom: 1.5rem;
    width: 100%;
    justify-content: space-between;
    
}

.comment-wrapper{
    margin-top: 1rem;
    
}

.comment-div{
    display:flex;
    align-items: center;
    gap: 5rem;
}
.comment-input{
    border: 1.8px solid #999;
}
.bi-three-dots{
    font-size: 1.3rem;
}

.activity-feed-container{
    margin-top: 2rem;
}
.activity{
    line-height: 1.8;
    margin-bottom: 2rem;
}
.activity h4 a{
    color: black;
}
.message{
  
    color: black;
    
}
.create-post-div{
    height: 100%;
    padding: 5rem 0;
    
}

.create-post-div .form{
   width: 30rem;
   margin:0 auto;
   background:white;
   padding: 1.5rem;
   -webkit-box-shadow: 2.5px 1.5px 10px 3px #dddddd;
    -moz-box-shadow: 2.5px 1.5px 10px 3px #dddddd;
    box-shadow: 2.5px 1.5px 10px 3px #dddddd;
    border-radius: 0.3rem;
}
.bio{
    width: 23rem;
    line-height: 1.8;
    text-align: center;
    margin-bottom: 2rem;
    color: #888;
}

.create-post-div input[type=text],.create-post-div input[type=password],.create-post-div input[type=email] ,select{
    width: 100%;
    line-height: 1.8rem;
    margin-bottom: 1rem;
    height: 3rem;
    padding:0 1rem;
    margin-top:0.5rem;
    font-size: 1rem;
    border: 1.5px solid #999;
    border-radius: 0.2rem;
}
textarea{
    width: 100%;
    padding: 1rem;
    margin-top:0.5rem;
    font-size: 1rem;
    height: 10rem;
    margin-bottom: 0.5rem;
    border: 1.5px solid #999;
    line-height: 1.4;
    border-radius: 0.3rem;
}
.create-post-div input{
    margin-top: 1rem;
}
.create-post {
   height: 100vh;
}
.create-post .container{
    height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.delete-form{
    width: 30rem;
    background: white;
    color: black;
    padding:1rem 2rem;
    height: 12rem;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.3);
}
.delete-form .text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.delete-form div{
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}
.login p{
    margin-top: 1rem;
}
.sign-up .create-post {
    margin-bottom: 10rem;
}
.errorlist li{
    color: crimson;
}
input[type=submit]{
    cursor: pointer;
    width: 100%;
    height: 3rem;
    border-radius: 0.2rem;
}
footer{
    background: #000;
    margin-top: 2rem;
    padding-top: 2rem;
    
}
footer a, footer p{
    color: white;
}
.footer-container{
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}



@media screen and (max-width:1024px) {
    .container{
        width: 90%;
        margin: 0 auto;
    }
    .navbar h3{
        font-size: 1.2rem;
    }
    .navbar ul{
        display: none;
    }
    .navbar img{
        width: 1.5rem;
        cursor: pointer;
    }
    .authentication{
        display: none;
    }
    .menu-content{
        display: none;
    }
    .cancel{
        display: none;
    }
    .menu{
        z-index: 1;
        display: block;
    }
    .main-menu-toggle{
        display: none;
    }
    .cancel-toggle{
        display: inline-block;
    }
    
    .main-menu, .cancel{
        font-size: 2rem;
        cursor: pointer;
    }
    .menu-content-added{
        background: black;
        height: 100vh;
        min-width: 100%;
        position: absolute;
        display: block;
        color: white; 
        top: 0;
        padding: 2rem; 
        margin-top: 5rem; 
        left: 0;
    }
    .menu-content-added ul{
        display: block;
    }
    .menu-content-added .dropbtn img{
        width: 1rem;
    }
    .menu-content-added ul li{
        margin-bottom: 2rem;
    }
    .home-container{
        grid-template-columns: 100%;
    }
    .activity-feed{
        display: none;
    }
    .upper p{
        width: 25rem;
    }
    .categories:hover .dropdown-content{
        display: none;
    }
    .clicked{
        display: inline-block;
        background: #000;
        position: static;
        padding: 0;
        margin-left: 3rem;
    }
    .dotted_menu_content_toggle{
        top: 2.5rem;
        display: inline-block;
    }
    .create-post-div .form{
        width: 100%;
        height: fit-content;
        margin: 0;
    }
    .main-post .post-image{
        height: 20rem;
    }
   

    
    
    
}

@media screen and (max-width:600px) {
    .container{
        width: 94%;
        
    }
    .banner-image, .overlay{
        height: 15rem;
    }
    .feed-component{
        width: 100%;
    }
    .post{
        flex-direction: column;
        gap: 0.5rem;
    }
    .post-image{
        width: 100%;
        height: 15rem;
    }
    .post-image a img{
        height: 100%;
        object-fit: cover;
     
    }
   
    .post-content-container div h2{
        font-size: 1.5rem;
    }
    .post-content-container div p{
        width: 100%;
    }
    
}


