{% extends 'base.html' %}

{% block content %}
<div class="sign-up create-post ">
    <div class="overlay">
        <div class="container">
            <div class="create-post-div">
                <form action="" method="post">
                    {% csrf_token %}
                    {{form.as_p}}

                    <input class="btn btn-black" type="submit" value="Sign up">
                    <p>Have an account ? login  | <a  href="{% url 'login' %}">Here</a></p>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
