{% extends 'base.html' %}

{% load static %}
{% block content %}
<div class="main-post">
    
    <div class="container">
        <div class="post-image">
            <img src="{{post.photo.url}}" alt="{{post.name}}">
        </div>
        <div class="post-content-container">
            <div>
                <h2 class="post-title">{{post.title|title}}</h2>
                <p>{{post.body}}</p>
                <small class="small">Posted {{post.created_at | timesince}} ago</small>
                <!-- <span>Updated {{post.updated_at | timesince}} ago</span> -->
                <div class="profile">
                    <div class="avatar">
                        <img src="{{post.author.avatar.url}}" alt="{{post.author.name}}">
                    </div>
                    <a class="name" href="{% url 'profile' post.author.id %}">{{post.author.name}}</a>
                </div>
            </div>
            <div class="buttons">
                {% if request.user == post.author %}
                    <a class="btn btn-black" href="{% url 'update_post' post.id %}">Edit</a>
                    <a class="btn btn-danger" href="{% url 'delete_post' post.id %}">Delete</a>
                {% endif %}
            </div>
            <h3>Comments</h3>
            <input class="bool" type="hidden" name="" value="{{request.user}}">
            <div class="comment-wrapper"> 
                {% for comment in comments %}
                    <div class="comment" id="{{comment.pk}}">
                        <div class="">
                            <div class="comment-div">
                                <div class="profile">
                                    <div class="avatar">
                                        <img src="{{comment.user.avatar.url}}" alt="{{comment.user.name}}">
                                    </div>
                                    <a class="name" href="{% url 'profile' post.author.id %}">{{comment.user.name}}</a>
                                </div>
                                <div class="small">
                                    {{comment.created_at|timesince}} ago
                                </div>
                            </div>
                            <p class="comment-body">{{comment.body}}</p>
                        </div>
                   
                            {% if request.user == comment.user %}
                                <div class="dotted_menu">
                                    <i class="bi bi-three-dots dotted_menu_btn"></i>
                                    <ul class="dotted_menu_content">
                                        <li><a href="{% url 'delete_comment' comment.id %}">Delete</a></li>
                                        <li><a href="{% url 'update_comment' comment.id %}">Edit</a></li>
                                    </ul>
                                </div>
                            {% endif %}
                       
                    </div>
                  {% empty %}
                  <p class="no-comment">No comments</p>  
                {% endfor %}
            </div>
            <form class="form" action="" method="post">
                {% csrf_token %}
                <input class='comment-input' type="text" name="comment" placeholder="Write your message">
            </form>  
            
        </div>
    </div>
</div>
{% endblock %}


{% block ajax %}
    <script>
        let url = "{% url 'get_post' post.id %}"
        let form = document.querySelector('.form')
        let crsfToken = form.querySelector('[name=csrfmiddlewaretoken]').value
        let comment = document.querySelector('.comment-input')
        let bool = document.querySelector('.bool').value
        let commentWrapper = document.querySelector('.comment-wrapper')
        let xhr = new XMLHttpRequest()


        form.addEventListener('submit', (e)=>{
            e.preventDefault()
            xhr.open('POST', url, true)
            xhr.setRequestHeader('Content-Type', 'application/json')
            xhr.setRequestHeader('X-CSRFToken', crsfToken)
            xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest')
            xhr.onreadystatechange = function(){
                if(xhr.readyState == 4 && xhr.status == 200){
                    let response = JSON.parse(xhr.response)
                    
                    let comment = document.createElement('div')
                    comment.innerHTML = `
                        
                            <div class="">
                                <div class="comment-div">
                                    <div class="profile">
                                        <div class="avatar">
                                            <img src="${response.message.user_avatar}" alt="">
                                        </div>
                                        <a class="name" href="">${response.message.user_name}</a>
                                    </div>
                                    <div class="small">
                                        ${response.message.created_at} ago
                                    </div>
                                </div>
                                <p class="comment-body">${response.message.body}</p>
                            </div>
                    
                            
                        
                        
                    `
                    comment.classList.add('comment')
                    let menu = document.createElement('div')
                    if(bool == response.message.user_name){
                        
                        
                        menu.innerHTML = `
                            
                            <i class="bi bi-three-dots dotted_menu_btn"></i>
                            <ul class="dotted_menu_content">
                                <li><a href="/delete_comment/${response.message.id}">Delete</a></li>
                                <li><a href="/update_comment/${response.message.id}">Edit</a></li>
                            </ul>
                            
                        `
                        menu.classList.add('dotted_menu')
                        comment.appendChild(menu)
                    }
                    commentWrapper.append(comment)

    


                }
            }

            let json_data = JSON.stringify(comment.value)
            xhr.send(json_data)
        })
        let dotted_menu = document.querySelectorAll('.dotted_menu')
        dotted_menu.forEach(item => {
            item.addEventListener("click", ()=>{
                content = item.childNodes.item(3)
                content.classList.toggle('dotted_menu_content_toggle')
            })
            
        })
        
    </script>
{% endblock ajax %}
    