{% extends 'base.html' %}

{% load static %}
{% block content %}
<div class="loader">
    <img src="{% static 'images/spin.svg' %}" alt="">
</div>
<div class="home">
    {% if page_object %}  
        <div class="banner-image">
            
            <img class="hero-image" src="" alt="">
            
            <div class="overlay ">
                <div class="container">
                    <div class="upper-container">
                        <div class="upper">
                            <h1 class="hero-title"></h1>
                            <p class="hero-p"></p> 
                        </div>
                    </div>

                    
                </div>
            
            </div> 
        </div> 
        
        <div class="home-wrapper" >
                <div class="home-container container" >  
                    <!--   -->
                    {% include 'app/post-feed-component.html' %} 
                    {% include 'app/recent-activity-component.html' %} 
                </div>

        </div>
    {% else %}
        <div class="container empty" style="margin-top:7rem; height: 100vh;">
            {% if q %}
                <p>No post on {{ q }}</p> 
                {% else %}
                <p>No posts available</p>
    
                {% if request.user.is_superuser %}
                    <a href="{% url 'create_post' %}">Post</a>
                {% endif %}
            {% endif %}
                
            <br>
            <a href="{{ request.META.HTTP_REFERER }}"> <span><<</span>go back</a>
        </div>
    {% endif %}
</div>
 

{% endblock %}





    