
<div class="feed-component">
    <h3>RECENT POSTS</h3>
    <div class="post-container">    
        {% for post in posts %}  
            <div class="post">
                <div class="post-image">
                    <a href="{% url 'get_post' post.id %}"><img src="{{post.photo.url}}" alt=""></a>
                </div>
                
                <div class="post-content">
                    <div>
                        <div class="top">
                            <small class="time">{{post.created_at|timesince}} ago</small>
                           
                            <small class="category">{{post.category}}</small>  
                        </div>
                        <h3><a href="{% url 'get_post' post.id %}">{{post.title | title}}</a></h3> 
                        <p>{{post.body}}</p>
                        <div class="profile">
                            <div class="avatar">
                                <img src="{{post.author.avatar.url}}" alt="{{post.author.name}}">
                            </div>
                            <a class="name" href="{% url 'profile' post.author.id %}">{{post.author.name}}</a>
                        </div>  
                    </div>   
                </div>
            </div>
            {% empty %}
            <p>No posts yet</p>
        {% endfor %}
    </div>
</div>
