{% extends 'base.html' %}

{% block content %}
<div class="container profile-block">
    <div class="main-profile">
        <div class="profile-avatar">
            <img src="{{user.avatar.url}}" alt="">
        </div>
        <div>
            <h3>{{user.name}}</h3>
        </div>
        <div class="bio">
            <p>{{user.bio}}</p>
        </div>
        <div>
            {% if request.user == user %}
                <a class="btn btn-black" href="{% url 'update_user' %}">Edit</a>
            {% endif %}
        </div>
    </div>
    <div class="home-container profile-activty">
        {% include 'app/post-feed-component.html' %} 
        {% include 'app/recent-activity-component.html' %} 
    </div>
</div>
{% endblock %}