{% extends 'base.html' %}

{% block content %}
<div class="container profile-block">
    <div class="main-profile">
        <div class="profile-avatar">
            <img src="{{user.avatar.url}}" alt="">
        </div> 

        <h3>{{user.name}}</h3>
    
        <p class="bio">{{user.bio}}</p>

        {% if request.user == user %}
        <a class="btn btn-black" href="{% url 'update_user' %}">Edit</a>
        {% endif %}
        
        
    </div>

    <div>
        <div class="home-container profile-activty">
           
            {% comment %} {% include 'app/recent-activity-component.html' %}  {% endcomment %}
        </div>
    </div>
</div>
{% endblock %}