{% extends 'base_2.html' %}
{% block title %}Update post{% endblock title %}Login
{% block content %}
    <div class="create-post">
       <div class="container">
            <div class="create-post-div">
                <form class='form' action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form.as_p}}
                    <br>
                    <button type='Button' id="select-photo-btn" class="btn btn-black">Select a picture</button>
                    <br>
                    <br>
                    <div id="photo-display">
                        <img id="display-image" src="" alt="">
                    </div>
                    <input class="btn btn-black" type="submit" value="Save">
                </form>
            </div>
       </div>
            
        
    </div>  
{% endblock content %}
