{% extends 'base_2.html' %}
{% block title %}Update comment{% endblock title %}Login
{% block content %}
    <div class="create-post">
        <div class="container">
            <div class="create-post-div">
                <form class="form" action="" method="post">
                    {% csrf_token %}
                    {{form.as_p}}
    
                    <input class="btn btn-black" type="submit" value="Save">
                </form>
            </div>
            
        </div>
      
    </div>  
{% endblock content%}

